# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
sgw-channel/build/
sgw-channel/out/
sgw-client/build/
sgw-client/out/
sgw-engine/build/
sgw-engine/out/ /
sgw-service/build/
sgw-service/out/
