# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
*.iml
sgw-exchange-channel/build/
sgw-exchange-channel/out/
sgw-exchange-client/build/
sgw-exchange-client/out/
sgw-exchange-core/build/
sgw-exchange-core/out/
sgw-exchange-server/build/
sgw-exchange-server/out/

